[submodule "themes/meghna"]
	path = themes/meghna
	url = https://github.com/themefisher/meghna-hugo.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/forty"]
	path = themes/forty
	url = https://github.com/MarcusVirg/forty.git
[submodule "themes/assembly"]
	path = themes/assembly
	url = https://github.com/salsysd/hugo-assembly.git
[submodule "themes/aerial"]
	path = themes/aerial
	url = https://github.com/sethmacleod/aerial.git
[submodule "themes/timer"]
	path = themes/timer
	url = https://github.com/themefisher/timer-hugo.git
